body{
    margin: 0;
}
.grid-container {
   font-size: 18px;
}
.button {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    display: flex; 
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
  }
  .center {
      margin:auto;
      display:flex;
  }

  button:hover{
      color:#FEB89A;
  }


.header-flex {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

a {
    font-size: 40px;
    text-decoration: none;
    color: #808285;
    font-weight: bold;
}

a:hover {
    color: #FEB89A;
}

.homepage {
    background-image: url(assets/salon-photo2.jpg);
    padding: 100px;
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeats;
    background-size: cover;
    margin-bottom: 50px;
    display: flex;
} 
.top-heading {
    display: grid;
    justify-content: center;
    padding-top: 200px;
    color: rgb(37, 37, 37);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.item1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 150px;
    margin-left:  150px;
    text-align: center;
}



.footer-container {
    display: grid;
    justify-content: center;
    
    background-color: #3eb980;
    height: 200px;
    padding: 50px;
    margin-top: 200px;    
}
.footer-flex {
    align-items: center;
    padding: 70px;
    
}
.fa {
   margin-left: 200px;
    font-size: 30px;
    width: 30px;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    color: white;
  }